* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


:root {
  --primaryColor: #1657ea;
  --mainWhite: #fff;
  --offWhite: #dcdcdc;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
}

.App-link {
  color: #61dafb;
}


/*navbar*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  margin-top: 8px;
  width: 100%;
}

.logo{
  width: 50px;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
}


.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}


.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: auto;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    margin: 0 auto;
    display: flex;
    position: relative;
  }

  .right {
    position: absolute;
    float: right;
    right: 0%;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/*End of navbar*/

/*Log in page*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--primaryColor);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all;
  transition: all;
  cursor: pointer;
}
button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--primaryColor);
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all;
  transition: all;
  cursor: pointer;
  width: 25%;
}

#checkConnection{
  float: right;
  margin-bottom: 10%;
}

.EmployeeConnection{
  margin-Left: 25%;
  margin-right: 25%;

}

.das{
  color: rgba(0, 128, 0, 0.52);
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: var(--primaryColor);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*End of log in page*/


/*Banner*/
.Banner {
  max-width: 100%;
  min-height: 300px;
  background-image: linear-gradient(to top, #712b5d, var(--primaryColor));
  display: flex;
}

.LightGreyBox {
  margin: auto;
  width: 50%;
  min-height: 150px;
  background-color:  rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);

}

.LightGreyBox:hover {
  background-color:  rgba(0, 0, 0, 0.5);

}

.Postalcode {
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: center;

}

h4{
  color: #696969;
}

.searchBar{
  padding: 15px 30px;
  background-color: #4d4d4d;
  border:  1px solid #3b3b3a;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.searchButton{
  cursor: pointer;
  background: #40bf46;
  display: inline-block;
  padding: 15px 30px;
  border:  1px solid #184b1a;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/*end of banner*/

/*info*/
.infoBox{
  text-align: center;
}

.infoBox-center{
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.section-title {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

h1{
  font-weight: 500;
}

.icons{
  font-size: 150px;
}
.infoBox span {
  display: inline-block;
  color: var(--primaryColor);
  margin-bottom: 1.5rem;
}

.smallIcons{
  font-size: 30px;
  color: #712b5d;
}

/*end of info*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;
  color: var(--mainBlack);
  background: #ffffff;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bg{
  background-color: rgba(76, 33, 113, 0.27);
}

#title {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto
}

#title td, #title th {
  border: 1px solid #ddd;
  padding: 8px;
}

#title tr:nth-child(even){background-color: #f2f2f2;}

#title th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primaryColor);
  color: white;
}

.btn-logout:hover {
  background: transparent;
  color: var(--primaryColor);
}